<header
	class="absolute inset-x-0 top-0 z-40 bg-transparent"
>
	<div
		class="mx-auto flex w-full max-w-[var(--container-xl)] items-center justify-start px-6 py-5 sm:px-8 lg:px-10"
	>
		<a
			href="/"
			class="block"
			aria-label="Alpha Propolis home"
		>
			<img
				src="/images/logo-header.webp"
				alt="Alpha Propolis"
				width="240"
				height="72"
				class="h-auto w-48 object-contain sm:w-64 lg:w-72"
			/>
		</a>
	</div>
</header>
