---
---

<section id="wa-faq" aria-label="FAQ Alpha Propolis" class="mx-auto w-full bg-white px-0 py-16 sm:px-8 lg:px-10 lg:py-24">
	<picture class="block w-full">
		<source media="(min-width: 1024px)" srcset="/images/faq-desktop.webp" />
		<img
			src="/images/faq-mobile.webp"
			alt="FAQ Alpha Propolis"
			width="430"
			height="932"
			loading="lazy"
			decoding="async"
			class="aspect-[215/466] h-auto w-full object-contain lg:aspect-[6/5]"
		/>
	</picture>
</section>
